- title "About Us"

.row
  .col-xs-12
    %p
      St. Joseph Drug Free Community Coalition (DFC), with St. Joseph Youth Alliance (Youth Alliance),
      began implementing intensive resource/coalition development strategies in 2002 to combat youth
      substance use.  Since 2004, our coalition has made significant progress toward our mission:

.row
  .col-xs-12
    %blockquote.col-md-10
      We work together to positively change community attitudes and behaviors surrounding drugs, alcohol
      and tobacco, ultimately encouraging youth to choose substance-free lives.

.row
  .col-xs-12
    %p
      Youth substance use prevention has been one of the two primary areas of focus for the coalition since
      2004.  The coalition focuses on youth asset development, community awareness, coalition capacity and
      environmental change.  DFC recognizes the strong correlation between prevention and youth assets,
      forming a strategic plan around strategies that capitalize on building protective factors (service
      learning, parental involvement, community awareness) and reducing risk factors (environmental changes,
      reduced stress, ordinances).  Although past efforts have primarily focused on access to alcohol by
      youth and underage drinking with limited focus on tobacco prevention, trends and attitudes in our
      community has prompted DFC to expand its tobacco efforts and to also include marijuana/synthetic
      marijuana, and to monitor the use of prescription drugs.

    %p DFC accomplishes its work using these four committees:
    %ul
      %li Common Message Committee
      %li Marketing & Media Committee
      %li Plan of Action Committee
      %li Key People Committee
