- title "User/Coalition Report"

.row
  .col-md-12
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th.c Sector
          %th.c # of Members/Users
          %th.c # Involvement (%)
      %tbody
        %tr
          %td.c IT
          %td.c 10
          %td.c 20%
        %tr
          %td.c Retail
          %td.c 15
          %td.c 30%
        %tr
          %td.c Banking
          %td.c 20
          %td.c 40%



