- if resource.errors.any?
  .alert.alert-error
    %button.close{data: {'dismiss' => 'alert'}} &times;
    %h3
      %i.icon-warning-sign
      = ' Error'
    %p Correct the following errors and try again:
    %ul
      - resource.errors.full_messages.each do |msg|
        %li= msg
