.bs-callout {
  .answer-section:first-child {
    margin-top: 0px;
  }
  .answer-section {
    margin-top: 14px;
  }
}
.activity-type
  .twitter-typeahead {
    width: 100%;
    .tt-hint, .tt-dropdown-menu {
      width: 100%;
    }
  }
