- title @organization.name

- breadcrumbs ['Organizations', organizations_path], @organization.name

.row
  .col-lg-12
    .box
      .box-header
        %h2
          %i.fa.fa-globe
        .box-icon
          = link_to edit_organization_path(@organization), title: 'Edit' do
            %i.fa.fa-pencil

      .box-content
        .row
          .col-md-2
            = image_tag(@organization.logo.url(:small), class: "img-rounded")
          .col-md-5
            %h4= pluralize @organization.users.count, 'member'
