.btn-group-vertical
  - if policy(measurement).edit?
    = link_to edit_measure_measurement_path(measure, measurement), remote: true, title: "Edit Measurement", class: "btn btn-xs btn-warning" do
      %i.fa.fa-pencil
  - if policy(measurement).destroy?
    = link_to [measure, measurement], title: "Remove", class: "btn btn-xs btn-danger", data: { confirm: 'Are you sure?' }, remote: true, method: :delete do
      %i.fa.fa-trash-o
