- title 'Dashboard'

.row
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th Measure
            %th.c Source
            - (2006..Date.today.year).each do |year|
              %th.c= year
        %tbody
          - @measures.each do |measure|
            %tr
              %td= best_in_place_if policy(measure).update?, measure, :description, inner_class: 'form-control'
              %td.c
                %abbr{title: measure.source.name}= measure.source.short_name
              - (2006..Date.today.year).each do |year|
                - measurement = @measurements.has_key?([measure.id, year]) ? @measurements[[measure.id, year]].first : nil
                = render partial: 'measurement', locals: {measurement: measurement, measure: measure, year: year}


