%footer#site-footer{data: {'turbolinks-permanent' => true}}
  %p
    %span{style: 'text-align: left;float: left;'}
      \&copy; #{Date.today.year} LAN Resources, LLC
    %span{style: 'text-align: right;float: right;'}
      = image_tag 'open-door.png', size: '20x20', id: 'footer-logo'
      = ' BackOffice Apps'
