#sidebar-left.span2
  -# .row-fluid.actions
  -#   %input.search.span12{placeholder: "...", type: "text"}/
  .nav-collapse.sidebar-nav
    %ul.nav.nav-tabs.nav-stacked.main-menu
      %li{class: ('active' if controller.controller_name == 'static_pages' && params[:action] == 'about')}
        = link_to root_url do
          %i.icon-info
          %span.hidden-tablet About Us

      %li{class: ('active' if controller.controller_name == '' && params[:action] == '')}
        = link_to root_url do
          %i.icon-bullhorn
          %span.hidden-tablet Activities

      %li{class: ('active' if controller.controller_name == '' && params[:action] == '')}
        = link_to root_url do
          %i.icon-upload-alt
          %span.hidden-tablet Data

      %li{class: ('active' if controller.controller_name == '' && params[:action] == '')}
        = link_to root_url do
          %i.icon-file-text
          %span.hidden-tablet Resources

