.navbar
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".top-nav.nav-collapse,.sidebar-nav.nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a#main-menu-toggle.hidden-phone.open
        %i.icon-reorder
      .row-fluid
        = link_to root_path, class: "brand span2" do
          %span.hidden-phone Youth Alliance
          %span.visible-phone
            Youth Alliance
            = image_tag 'open-door.png', size: '20x20'
            BackOffice

      .nav-no-collapse.header-nav
        %ul.nav.pull-right

          -# = render partial: 'layouts/admin_dropdown', locals: { phone: false }

          %li.dropdown
            %a.btn.account.dropdown-toggle{data: {toggle: "dropdown"}, href: "#"}
              -# .avatar= image_tag(current_user.photo.url(:tiny))
              .user
                %span.hello Welcome!
                -# %span.name= current_user.full_name
            %ul.dropdown-menu
              %li.dropdown-menu-title
              %li
                -# = link_to user_path(current_user) do
                -#   %i.icon-user
                -#   View Profile
              %li
                -# = link_to edit_user_path(current_user) do
                -#   %i.icon-pencil
                -#   Edit Profile
              %li
                -# = link_to destroy_user_session_path do
                -#   %i.icon-off
                -#   Logout

          -# = render partial: 'layouts/admin_dropdown', locals: { phone: true }
